@import "radial-slider";

/* General Demo Style */

body {
  background: #012fc7;
  font-weight: 400;
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #555;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: initial;
  position: relative;
}

.main {
  width: 95%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  height: 250px;
}

.container > header {
  margin: 10px;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}

.container > header h1 {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #666;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

.container > header h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 15px 0 5px 0;
  color: #888;
  font-family: Cambria, Georgia, serif;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}

p.info {
  font-family: Cambria, Georgia, serif;
  font-style: italic;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.9);
  padding: 20px;
  display: block;
  clear: both;
  text-align: center;
  width: 240px;
  margin: 0 auto;
}



.windy-demo {
  margin: 0 auto;
  color: #000;
  padding-top: 100px;
  position: relative;

  h4 {
    color: #666;
    font-size: 14px;
    padding: 8px 0 5px;
    margin: 5px 0;
    border-bottom: 1px solid #f0f0f0;
  }
}
