ul.wi-container {
    width: auto;
    height: auto;
    margin: 0 auto 30px;
    position: relative;
    padding: 0;
    list-style-type: none;
}

ul.wi-container li {
    width: auto;
    height: auto;
    display: block;
    margin: 0 0 5px 0;
    position: relative;
}

.windy-demo nav {
    display: none;
}
