@import "windy";
@import "normalize";
@import "~bootstrap/scss/bootstrap";

.rn-slider {

  margin-bottom: 3em;
  max-width: 85%;

  .rn-slider-content {

    position: relative;

    /* pager styles*/
    .pager {
      border-radius: 50%;
      position: absolute;
      z-index: 5;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border-right-width: 2px;
      width: 300px;
      height: 300px;
      top: -85px;
      left: -180px;

      @keyframes leave-away {
        from {

          opacity: 1;
        }

        to {

          opacity: 0;
        }
      }

      &.move {
        .faceBox {
          animation: leave-away;
        }
      }

      .faceBox {
        border: 0;
        position: absolute;
        transform-origin: center bottom;
        -webkit-transform-origin: center bottom;
        -moz-transform-origin: center bottom;
        -o-transform-origin: center bottom;
        transform: rotate(0deg);
        width: 0em;
        height: 50%;
        top: 0;
        left: 6em;
        position: absolute;
        text-align: center;
        overflow: visible;


        &.current {
          font-size: 2rem;
          min-width: 18px;
          left: 3em;
        }

        &.rn-sector-5 .slideNumber,
        &.rn-sector-6 .slideNumber,
        &.rn-sector-7 .slideNumber {
          color: #fff !important;
          opacity: 0.7;
        }

        .slideNumber {
          display: block;
          line-height: 0;
          color: #012fc7;
          position: relative;
          top: 1em;
          left: 0;
          padding: 0 0.5em;

          &.wide {
            left: -0.3em;
          }

          &:focus {
            outline: none;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  ul.wi-container {
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f8f8f8, #ffffff);
    -webkit-box-shadow: 10px 20px 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 10px 20px 15px 0 rgba(0, 0, 0, 0.05);
    min-width: 25%;

    &::before,
    &::after {
      height: 35px;
      content: '';
      position: absolute;
      background: white;
      left: 0;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      min-height: inherit;
    }

    &::before {
      bottom: -8px;
      z-index: -1;
      width: calc(100% - 16px);
      left: 8px;
      opacity: 0.8;
      background-color: #ffffff;
      box-shadow: 10px 20px 15px 0 rgba(0, 0, 0, 0.05);
    }

    &::after {
      bottom: -14px;
      z-index: -2;
      width: calc(100% - 30px);
      left: 15px;
      opacity: 0.4;
      background-color: #ffffff;
      box-shadow: 10px 20px 15px 0 rgba(0, 0, 0, 0.05);
    }

    li.wi-list-element {
      border-radius: 5px;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: absolute;

      &.wi-current {
        position: relative;
        background-image: linear-gradient(to bottom, #f8f8f8, #ffffff);
        box-shadow: 10px 20px 15px 0 rgba(0, 0, 0, 0.05);
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        box-shadow: 0 0 1px 1px rgba(255,255,255,0.6), 0 0 0 4px rgba(0,0,0,0.1);
      }

    }
  }

  nav {
    position: absolute;
    right: 40px;
    width: 60px;
    top: -80px;
    z-index: 999;

    a {
      padding: 30px;
      display: block;
      position: relative;
      text-indent: -9000px;
      cursor: pointer;
      border-radius: 50%;
      background-color: #fff;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-decoration: none;
      transition: all 150ms ease-in-out;

      &:focus {
        outline: none;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        border: 0;
        float: left;
        width: 9px;
        height: 9px;
        left: calc(50% - 5px);
        top: calc(50% - 5px);
        border-radius: 1px;
        transform: rotateZ(42deg) rotateY(17deg) rotateX(-17deg);
      }

      &.next:hover,
      &.prev:hover {
        transform: scale(1.1);
      }

      &:active {
        transition-delay: 50ms;
        transition-duration: 100ms;
        transform: scale(1.05) !important;
        &::before {
          transition-delay: 50ms;
          transition-duration: 100ms;
          left: calc(50% - 5px);
          top: calc(50% - 4px);
        }
      }

      &.next::before {
        border-bottom: 2px solid #012fc7;
        border-right: 2px solid #012fc7;
      }

      &.prev {
        background-color: #f8f8f8;
        margin-bottom: 50px;
        &::before {
          border-top: 2px solid #012fc7;
          border-left: 2px solid #012fc7;
        }
      }
    }
  }
}
