ul.wi-container {
    width: auto;
    min-height: 300px;
    margin: 0 auto 30px;
    position: relative;
    padding: 0;
    list-style-type: none;
    -webkit-perspective: 1400px;
    -moz-perspective: 1400px;
    -ms-perspective: 1400px;
    -o-perspective: 1400px;
    perspective: 1400px;

    li.wi-list-element {
        display: none;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        pointer-events: auto;

        &.wi-move {
            pointer-events: none;
            -webkit-transition: -webkit-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
            -moz-transition: -moz-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
            -o-transition: -o-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
            -ms-transition: -ms-transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
            transition: transform 600ms ease, opacity 600ms ease, left 600ms ease, top 600ms ease;
        }
    }

}
